In [46]:
import pandas as pd
s = pd.read_csv('2016 MLS Season.csv')

In [47]:
s[['Date']] = s[['Date']].apply(pd.to_datetime)

In [48]:
s.dtypes

GameID              int64
Week                int64
Date       datetime64[ns]
Home               object
HScore              int64
VScore              int64
Visitor            object
dtype: object

In [49]:
s.head()

   GameID  Week       Date          Home  HScore  VScore         Visitor
0       1     1 2016-03-06  NY Red Bulls       0       2      Toronto FC
1       2     1 2016-03-06       Orlando       2       2  Real Salt Lake
2       3     1 2016-03-06       Houston       3       3     New England
3       4     1 2016-03-06      Portland       2       1        Columbus
4       5     1 2016-03-06       Seattle       0       1     Sporting KC

In [68]:
Clubs = sorted(list(set(pd.unique(s.Home.ravel())) | set(pd.unique(s.Visitor.ravel()))))

In [69]:
Clubs

['Chicago',
 'Colorado',
 'Columbus',
 'DC United',
 'FC Dallas',
 'Houston',
 'LA Galaxy',
 'Montreal',
 'NY Red Bulls',
 'NYCFC',
 'New England',
 'Orlando',
 'Philadelphia',
 'Portland',
 'Real Salt Lake',
 'San Jose',
 'Seattle',
 'Sporting KC',
 'Toronto FC',
 'Vancouver']

In [79]:
standings = {'NY Red Bulls': 0, 'Toronto': 3}
standings['Orlando'] = 1
standings['Real Salt Lake'] = 1
standings['Houston'] = 1
standings['New England'] = 1
standings['Portland'] = 3
standings['Columbus'] = 0

In [80]:
standings

{'Columbus': 0,
 'Houston': 1,
 'NY Red Bulls': 0,
 'New England': 1,
 'Orlando': 1,
 'Portland': 3,
 'Real Salt Lake': 1,
 'Toronto': 3}

In [105]:
for index, row in s.iterrows():
    print row['Home'], (row['HScore'] - row['VScore'])**0, row['Visitor']

NY Red Bulls 1 Toronto FC
Orlando 1 Real Salt Lake
Houston 1 New England
Portland 1 Columbus
Seattle 1 Sporting KC
Chicago 1 NYCFC
FC Dallas 1 Philadelphia
San Jose 1 Colorado
Vancouver 1 Montreal
LA Galaxy 1 DC United
Orlando 1 Chicago
New England 1 DC United
Real Salt Lake 1 Seattle
Columbus 1 Philadelphia
Sporting KC 1 Vancouver
Montreal 1 NY Red Bulls
Colorado 1 LA Galaxy
Houston 1 FC Dallas
NYCFC 1 Toronto FC
San Jose 1 Portland
NYCFC 1 Orlando
Chicago 1 Columbus
FC Dallas 1 Montreal
LA Galaxy 1 San Jose
NY Red Bulls 1 Houston
Seattle 1 Vancouver
Portland 1 Real Salt Lake
Philadelphia 1 New England
Sporting KC 1 Toronto FC
DC United 1 Colorado
NYCFC 1 New England
Vancouver 1 Houston
DC United 1 FC Dallas
New England 1 NY Red Bulls
Chicago 1 Philadelphia
Sporting KC 1 Real Salt Lake
Seattle 1 Montreal
San Jose 1 DC United
Colorado 1 Toronto FC
FC Dallas 1 Columbus
Vancouver 1 LA Galaxy
Orlando 1 Portland
Philadelphia 1 Orlando
Montreal 1 Columbus
DC United 1 Vancouver
FC Dallas 1 San Jose
New England 1 Toronto FC
NY Red Bulls 1 Sporting KC
Real Salt Lake 1 Colorado
Houston 1 Seattle
LA Galaxy 1 Portland
NYCFC 1 Chicago
Sporting KC 1 Colorado
San Jose 1 NY Red Bulls

In [108]:
for team in s
print team

SyntaxError: invalid syntax (<ipython-input-108-91b4cb2f31ba>, line 1)